<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <queries><package android:name="com.geeksville.mesh" /></queries>
    <application android:allowBackup="false" android:label="Hardline Relay"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:supportsRtl="true" android:usesCleartextTraffic="false">
        <activity android:name=".SecureScanActivity" android:exported="false" android:screenOrientation="fullSensor" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
